<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-danger navbar-dark ">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Empreendedorismo</a>

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-end" id="navPrincipal">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-brand" [routerLink]="['/Cadastro']">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" [routerLink]="['/Login']">Login</a>
        </li>

      </ul>

    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
