<!-- Navbar -->
<nav
  class="navbar navbar-expand-lg shadow-lg"
  style="background-color: #AE9CD4"
>
  <!-- Container wrapper -->
  <div class="container-fluid align-items-center" style="height: 40px;">
    <!-- Navbar brand -->

    <a
      class="navbar-brand"
      href="#"
      style="
        font-size: small;
        font-weight: bold;
      "
    >
      <div class="d-flex flex-row align-items-center">
        <div class="me-2">
          <img src="/assets/img/logo.png" alt="image" width="35" alt="" />
        </div>
        <div>
          <p style="color: #fff; margin: 0; padding: 0; font-weight: bold;"> SUA <br />
            MOCHILA</p>
        </div>
      </div>
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-end" id="navPrincipal">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-brand" style="color: white; font-weight: bold;"[routerLink]="['/Cadastro']">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" style="color: white; font-weight: bold;"[routerLink]="['/Login']">Login</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
