<form class="d-flex flex-column align-items-center" style="background-color: #ffff; height: 100vh;"  [formGroup]="travelForm" (ngSubmit)="createTravel()"> 

    <!-- Título -->
    <div class="mt-5">
        <h3 class="" style="margin: 0; padding: 0; color: #9b9b9b; font-weight: bold;">INFORMAÇÕES GERAIS</h3>
    </div>

    <div class="card mt-3">
        <div class="card-body d-flex flex-column align-items-center p-5">

            <!-- Seção 1 -->
            <div class="d-flex flex-column align-items-center mb-3 full">

                <!-- Título da Seção -->
                <div class="d-flex flex-row justify-content-center full mb-2">
                    <div>
                        <p class="" style="margin: 0; padding: 0; color: #9b9b9b; font-size: small; font-weight: bold;">INFORMAÇÃO GERAL</p>
                    </div>
                </div>

                <!-- Forms da Seção -->
                <div class="d-flex flex-column justify-content-center full">
                    <div class="form-floating mb-2 full">
                        <input class="form-control" id="Nome" required placeholder="Nome da Viagem" formControlName="nome_viagem"/>
                        <label class="form-label">Nome da Viagem</label>
                    </div>
                    
                    <div class="d-flex flex-row mb-2 justify-content-center full">
                        <div class="form-floating me-5 full">
                            <input class="form-control" id="Origem" required placeholder="Origem" formControlName="origem"/>
                            <label class="form-label">
                                Origem
                            </label>
                        </div>
                        <div class="form-floating full">
                            <input class="form-control" id="Destino" required placeholder="Destino" formControlName="destino"/>
                            <label class="form-label">
                                Destino
                            </label>
                        </div>
                    </div>

                </div>

            </div>

            <!-- Seção 2 -->
            <div class="d-flex flex-column align-items-center mb-3 full">

                <!-- Título da Seção -->
                <div class="d-flex flex-row justify-content-center mb-2 full">
                    <div>
                        <p class="" style="margin: 0; padding: 0; color: #9b9b9b; font-size: small; font-weight: bold;">TRANSPORTE</p>
                    </div>
                </div>
                
                <!-- Forms da Seção -->
                <div class="d-flex flex-column justify-content-center full">
                    
                    <div class="d-flex flex-row mb-2 full">
                        <div class="me-5 d-flex flex-column">
                            <div class="form-floating mb-2">
                                <select class="form-select">
                                    <option>Avião</option>
                                    <option>Carro</option>
                                    <option>Trem</option>
                                    <option>Ônibus</option>
                                </select>
                                <label class="form-label">Tipo de Transporte Ida</label>
                            </div>

                            <div class="d-flex flex-row">
                            
                                <!--Date Picking-->
                                <mat-form-field class="me-2">
                                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="transporteIdaDateControl"
                                    [min]="minDate" [max]="maxDate" [disabled]="disabled">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                       [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                       [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
                                       [disableMinute]="disableMinute" [hideTime]="hideTime">
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>
                                
                                <div class="form-floating mb-2">
                                    <select class="form-select">
                                        <option>Aguardando Compra</option>
                                        <option>Comprada</option>
                                        <option>Combinado</option>
                                    </select>
                                    <label class="form-label">Status Passagem Ida</label>
                                </div>
                            </div>
                        </div>
                        <div>

            

                            <div class="form-floating mb-2">
                                <select class="form-select">
                                    <option id="">Avião</option>
                                    <option>Carro</option>
                                    <option>Trem</option>
                                    <option>Ônibus</option>
                                </select>
                                <label class="form-label">Status Passagem</label>
                            </div>
                            <div class="d-flex flex-row">

                                <!--Date Picking-->
                                <mat-form-field class="me-2">
                                    <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose a date" formControlName="transporteVoltaDateControl"
                                    [min]="minDate" [max]="maxDate" [disabled]="disabled">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <ngx-mat-datetime-picker #picker1 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                    [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                    [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
                                    [disableMinute]="disableMinute" [hideTime]="hideTime">
                                    </ngx-mat-datetime-picker>
                                </mat-form-field>

                                <div class="form-floating mb-2">
                                    <select class="form-select">
                                        <option>Aguardando Compra</option>
                                        <option>Comprada</option>
                                        <option>Combinado</option>
                                    </select>
                                    <label class="form-label">Status Passagem Volta</label>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>

            <!-- Seção 3 -->
            <div class="d-flex flex-column align-items-center mb-3 full">

                <!-- Título da Seção -->
                <div class="d-flex flex-row justify-content-center mb-2 full">
                    <div>
                        <p class="" style="margin: 0; padding: 0; color: #9b9b9b; font-size: small; font-weight: bold;">ESTADIA</p>
                    </div>
                </div>

                <!-- Forms da Seção -->
                <div class="d-flex flex-column justify-content-center full">
                    <div class="form-floating mb-2 full">
                        <select class="form-select">
                            <option>Pousada</option>
                            <option>Hotel</option>
                            <option>Hostel</option>
                            <option>Aluguel de Temporada</option>
                        </select>
                        <label class="form-label">Tipo de Estadia</label>
                    </div>
                    
                    <div class="form-floating mb-2 full">
                        <input class="form-control" id="nome-estadia" required placeholder="Nome" formControlName="nome_estadia"/>
                        <label class="form-label">Nome</label>
                    </div>

                    <div class="form-floating mb-2 full">
                        <input class="form-control" id="endereco-estadia" required placeholder="Endereço" formControlName="endereco_estadia"/>
                        <label class="form-label">Endereço</label>
                    </div>

                    <div class="d-flex flex-row justify-content-center mb-2 full">

                        <!--Date Picking-->
                        <mat-form-field class="me-2">
                            <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" formControlName="checkInDateControl"
                            [min]="minDate" [max]="maxDate" [disabled]="disabled">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker2 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                            [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
                            [disableMinute]="disableMinute" [hideTime]="hideTime">
                            </ngx-mat-datetime-picker>
                        </mat-form-field>

                        <!--Date Picking-->
                        <mat-form-field class="me-2">
                            <input matInput [ngxMatDatetimePicker]="picker3" placeholder="Choose a date" formControlName="checkOutDateControl"
                            [min]="minDate" [max]="maxDate" [disabled]="disabled">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker3 [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                            [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian" 
                            [disableMinute]="disableMinute" [hideTime]="hideTime">
                            </ngx-mat-datetime-picker>
                        </mat-form-field>

                        <div class="form-floating mb-2 me-2 full">
                            <select class="form-select">
                                <option>Aguardando Compra</option>
                                <option>Comprada</option>
                                <option>Combinado</option>
                            </select>
                            <label class="form-label">Status Estadia</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Seção 4 -->
            <div class="d-flex flex-column align-items-center mb-3 full">

                <!-- Título da Seção -->
                <div class="d-flex flex-row justify-content-center mb-2 full">
                    <div>
                        <p class="" style="margin: 0; padding: 0; color: #9b9b9b; font-size: small; font-weight: bold;">PARTICIPANTES</p>
                    </div>
                </div>

                <!-- Forms da Seção -->
                <div class="d-flex flex-column justify-content-center full">
                    <div class="d-flex flex-row align-items-center mb-2 full">
                        <div class="form-floating me-2 full">
                            <input class="form-control" id="endereco-estadia" required placeholder="Participante" formControlName="participante"/>
                            <label class="form-label">Participante</label>
                        </div>
                        <div>
                            <button type="submit" style="background-color: #A866FF; color: #ffff;" class="btn">Add</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-between full-3 mt-5 pb-5">
        <!-- Back Button-->
        <div class="me-5">
            <button type="submit" style="background-color: #A866FF; color: #ffff;" class="btn">Voltar</button>
        </div>

        <!-- Submit Button -->
        <div>
            <button type="submit" style="background-color: #A866FF; color: #ffff;" class="btn">Próximo</button>
        </div>
    </div>
</form>
