<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="card form-group col-md-4 align-center" style="top: 8rem; border:none">
      <div class="card-body">
        <div class="rounded mx-auto d-block">
          <img class="rounded mx-auto d-block" src="/assets/img/yourbag.png" alt="image" width="75" height="75" alt="" />
        </div>
        <div class="row">
          <h4 class="card-title">Fazer Login</h4>
        </div>
        <form class="row g-3 align-items-center" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="col-md-12">
            <label for="Email" class="form-label"><b>Email</b></label>
            <input type="email" class="form-control" id="Email" required placeholder="empreendedorismo@gmail.com" formControlName="email">
          </div>
          <div class="col-md-12">
            <label for="Senha" class="form-label"><b>Senha</b></label>
            <input type="password" class="form-control" id="Senha" required placeholder="Digite sua senha" formControlName="senha">
            <div *ngIf="errorMessage" class="text-danger">
              <c-alert color="danger" class="d-flex align-items-center">
                <!-- <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:">
                    <use xlink:href="#exclamation-triangle-fill" />

                </svg> -->
                <i class='fas fa-exclamation-triangle' style='font-size:48px;color:red'></i>
                <b>{{errorMessage}}</b>
            </c-alert>
            </div>
          </div>
          <div class="col-md-12 align-items-center" id="div_botao">
            <button class="btn btn-primary" type="submit">Fazer login</button>
          </div>
          <p> Ainda não tem uma conta?
              <a [routerLink]="['/Cadastro']"><b>Cadastre-se</b></a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
