@import '~bootstrap/dist/css/bootstrap.min.css';

.main-div {
    font-family: 'Roboto';
    display: flex;
}

.main-div-orcamento {
    width: 856px;
    height: 858px;
    border-radius: 15px;
    border: 10px;
    margin: 58px 0px 58px 73px;
    
}

.orcamento {
    width: 750px;
    height: 676px;
    margin: 42px 53px 42px 53px;
}

.titulo {
    padding-top: 37px;
    width: 791px;
    height: 40px;
    display: inline;
}

h2 {
    color: #1C1C1B;
    opacity : 0.62;
    font-size: 25px;
    font-weight: 700;
}

h3 {
    color: #1C1C1B;
    opacity : 0.62;
    font-size: 25px;
    padding-left: 46px;
}

.gastos {
    width: 682px;
    height: 130px;
    display: flex;
    padding-top: 25px;
}

.gasto-desejado {
    width: 348px;
    height: 130px;
    padding-left: 46px;
    display: flex;
    color: rgba(28, 28, 27, 0.62);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.gasto-desejado-titulo {
    position: absolute;
    padding-left: 120px;
    padding-top: 15px;
}

.gasto-desejado-valor {
    position: absolute;
    padding-left: 120px;
    padding-top: 33px;
}

.mala {
    height: 93px;
    width: 88px;
}

.cifrao-img {
    padding-top: 22px;
    position: absolute;
    padding-left: 90px;
    text-align: right;
    width: 120px;
    height: 50px;
}

.gasto-previsto {
    width: 348px;
    height: 130px;
    background: #A866FF;
    border-radius: 12px;
    display: flow-root;
    flex-wrap: wrap;
    position: relative;
}

.gasto-previsto-titulo {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    padding-left: 18px;
    padding-top: 9px;

}

.linha-gasto-previsto {
    width: 319px;
    margin-left: 11px;
    border-top: 2px solid #ffffff !important;
    opacity: 100;
}

.gastos-separados {
    display: flex;
    flex-wrap: wrap;
}

.caixa-gastos {
    width: 75px;
    height: 52px;
    background-color: #A866FF;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px 0px 0px 8px;
}
.caixa-gastos2 {
    width: 169px;
    height: 52px;
    background: rgba(237, 214, 240, 0.68);
    margin-left: 75px;
    border-radius: 0px 8px 8px 0px;
    position: relative;
    bottom: 52px
}
.caixa-gastos p, .caixa-gastos2 p {
    font-size: 36px;
    text-align: left;
    color: #ffffff;
    padding-left: 18px;
    padding-top: 9px;
    font-weight: 700;
    line-height: 23px;
}
.cifrao {
    font-size: 48px;
    text-align: left;
    color: #ffffff;
    padding-left: 18px;
    padding-top: 9px;
    font-weight: 700;
    line-height: 23px;
}

.caixa-gasto-previsto {
    width: 242px;
    height: 68px;
    background-color: #EDD6F0;
    opacity: 68;
    border-radius: 12px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding-left: 40px;
    margin-left: 94px;
    margin-bottom: 6px;
    margin-right: 6px;
}

.gasto-previsto-valor {
    font-size: 48px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    padding-left: 13px;
    padding-top: 18px;
    position: absolute;
    left: 0px;

}

.gastos-separados-caixa {
    width: 244px;
    height: 102px;
    margin-left: 75px;
    margin-top: 41px;
}

.gastos-separados-titulo {
    font-size: 20px;
    color: #1C1C1B;
    opacity : 0.62;
    text-align: center;
    margin-bottom: 5px;
}

.gastos-separados-descricao{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 2px;
    color: rgba(28, 28, 27, 0.62);
}

.botao-voltar {
    display: inline;
    border: none;
    background: transparent;
}

.titulo-viagem {
    padding-left: 31px;
    padding-top: 37px;
    padding-bottom: 31px;
    width: 380px;
    display: inline;
    margin-bottom: 20px;
    bottom: 618px;
}

.checklist {
    position: -webkit-sticky;
    padding-top: 58px;
    padding-left: 40px;
}

.linha-titulo {
    width: 791px;
    color: #9F9F9F;
    height: 1px;
}

.gastos-separados .gastos-separados-titulo {
    color: rgba(28, 28, 27, 0.62);
    font-weight: 700;
    font-size: 20px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    position: absolute;
    right: 15px;
    background-color: #A659B0!important;
    border-radius: 25px;
    color: white;
    border: none;
  }
  
  .btn-primary:hover{
    background-color: #a18ecacc!important;
  }
  
  .card{
    background-color: #ebebeb !important;
    /* height: 858px !important; */
  }
  
  .card-title{
    /* position: absolute;
    width: 710px !important;
    height: 40px !important;
    left: 126px !important;
    top: 146px !important; */
    font-family: 'Roboto' !important;
    font-style:normal !important;
    font-weight: 700 !important;
    font-size: 34px !important;
    line-height: 40px !important;
    color: rgba(28, 28, 27, 0.62) !important;
  }
  
  .card-vacation{
    height: 140px;
    background: #ffffff !important;
    border-radius: 12px;
  }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a18ecacc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    background-color: transparent;
    width: 30px;
    height: 48px;
  }
  
  .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23a18ecacc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    background-color: transparent;
    width: 30px;
    height: 48px;
  }
  
  .tab-li{
    border-radius: 4px;
    color: black;
    padding: 2px 2px 2px 2px;
    background-color: #A659B0 !important;
  }
  
  #documents{
    color: #A659B0 !important;
    font-weight: bold;
  }
  