<div class="main-div">
    <div class="main-div-orcamento p-3 mb-5 bg-white rounded" style="background-color: #ebebeb !important;">
        <div class="titulo">
            <button type="button" class="botao-voltar" (click)="goHome()">
                <img src="assets\voltar.png" alt="voltar">
            </button>
            <h2 class="titulo-viagem">{{ budgetTravel[0].nome }}</h2>
        </div>
        <hr class="linha-titulo">
        <div class="orcamento p-3 mb-5 bg-white rounded">
            <h3>Gastos</h3>
            <div class="gastos">
                <div class="gasto-desejado">
                    <img src="assets\mala.png" alt="mala" class="mala">
                    <img src="assets\cifrao.png" alt="mala" class="cifrao-img">
                    <p class="gasto-desejado-titulo">Gasto Desejado</p>
                    <p class="gasto-desejado-valor">R$ {{ budgetTravel[0].total_disponivel }}</p>
                </div>
                <div class="gasto-previsto">
                    <p class="gasto-previsto-titulo">Gasto Previsto</p>
                    <hr class="linha-gasto-previsto">
                    <p class="cifrao">R$</p>
                    <div class="caixa-gasto-previsto">
                        <p class="gasto-previsto-valor"> {{ budgetTravel[0].gasto_total }}</p>
                    </div>
                </div>
            </div>
            <div class="gastos-separados">
                <div class="gastos-separados-caixa">
                    <p class="gastos-separados-titulo">Alimentação</p>
                    <p class="gastos-separados-descricao">Gastos para alimentação</p>
                    <div class="caixa-gastos">
                        <p>R$</p>
                    </div>
                    <div class="caixa-gastos2">
                        <p>{{ budgetTravel[0].alimentos }}</p>
                    </div>
                </div>
                <div class="gastos-separados-caixa">
                    <p class="gastos-separados-titulo">Transporte</p>
                    <p class="gastos-separados-descricao">Gastos para transporte</p>
                    <div class="caixa-gastos">
                        <p>R$</p>
                    </div>
                    <div class="caixa-gastos2">
                        <p>{{ budgetTravel[0].transporte }}</p>
                    </div>
                </div>
                <div class="gastos-separados-caixa">
                    <p class="gastos-separados-titulo">Hospedagem</p>
                    <p class="gastos-separados-descricao">Gastos para hospedagem</p>
                    <div class="caixa-gastos">
                        <p>R$</p>
                    </div>
                    <div class="caixa-gastos2">
                        <p>{{ budgetTravel[0].hospedagem }}</p>
                    </div>
                </div>
                <div class="gastos-separados-caixa">
                    <p class="gastos-separados-titulo">Objetos</p>
                    <p class="gastos-separados-descricao">Gastos para objetos</p>
                    <div class="caixa-gastos">
                        <p>R$</p>
                    </div>
                    <div class="caixa-gastos2">
                        <p>{{ budgetTravel[0].objetos }}</p>
                    </div>
                </div>
                <div class="gastos-separados-caixa">
                    <p class="gastos-separados-titulo">Saúde</p>
                    <p class="gastos-separados-descricao">Gastos para saúde</p>
                    <div class="caixa-gastos">
                        <p>R$</p>
                    </div>
                    <div class="caixa-gastos2">
                        <p>{{ budgetTravel[0].saude }}</p>
                    </div>
                </div>
                <div class="gastos-separados-caixa">
                    <p class="gastos-separados-titulo">Outros Custos</p>
                    <p class="gastos-separados-descricao">Gastos para outros custos</p>
                    <div class="caixa-gastos">
                        <p>R$</p>
                    </div>
                    <div class="caixa-gastos2">
                        <p>{{ budgetTravel[0].outros }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checklist">
        <mat-tab-group class="p-3 mb-5 bg-white rounded" style="background-color: #ebebeb !important;">
            <mat-tab label="Roteiros">
              <div class="carousel slide" >
                <div class="carousel-inner p-3 d-flex text-center">
                  <div *ngFor="let travel of travels; let i = index" [ngClass]="{'active': i==0}" class="carousel-item">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                    </div>
                    <div class="tab-content">
                      <div id="roteiro">
                        <div class="card-vacation shadow-sm d-flex flex-row justify-content-start mt-2 col-md-12"
                          *ngFor="let plan of travel.roteiro">
                          <div class="d-flex flex-row justify-content-start flex-grow-1">
                            <div class="d-flex flex-row justify-content-start align-items-center p-3">
                              <i class="fa fa-map-marker" style="color: #a18ecacc!important; font-size:5rem"></i>
                            </div>
                            <div class="d-flex flex-column align-items-start justify-content-center px-5">
                              <div class="mr-auto p-2"><b>{{ plan.local }}</b></div>
                              <div class="mr-auto p-2">{{plan.dia}}/{{plan.mes}} - {{plan.hora}}h</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="CheckList">
              <div class="tab-content" *ngFor="let ch of checklist" style=" margin: 20px"> 
                <mat-selection-list> 
                  <h4 class="text" id="categoria"><b>{{ch.categoria}}</b></h4> 
                  <div *ngFor="let c of ch.info"> 
                      <mat-list-option #matOption (click)="isChecked(c.id, matOption.selected)" *ngIf="c.status === true" [selected]="true">{{c.descricao}}</mat-list-option> 
                      <mat-list-option #matOption (click)="isChecked(c.id, matOption.selected)" *ngIf="c.status !== true" [selected]="false">{{c.descricao}}</mat-list-option> 
                  </div> 
                </mat-selection-list> 
              </div>           
            </mat-tab>
          </mat-tab-group>
    </div>

</div>
